-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, {:id=>"ratings_form", :method => :get}, do
  -# OK, the "options" hash parameter is the tag's attributes.
  = hidden_field_tag "sort", @sort_column == "title" ? "title" : "release_date"
  
  Include:  
  -# above is literal text 
  - @all_ratings.each do |rating, value|
    = rating
    = check_box_tag "ratings[#{rating}]", value, value == 1
    -# looks like "value" & "checked" parameters must be in synch 1=>true 0=>false
    -# the form get will have a params[:ratings] hash containing all checked boxes.
  = submit_tag 'Refresh'
  
%table#movies
  %thead
    %tr
      %th{:class=>('hilite' if @sort_column == 'title')}
        = link_to "Movie Title", movies_path(:ratings=>@all_ratings.select {|k,v| v == 1}, :sort=>"title"), {id: "title_header"}
      %th Rating
      %th{:class=>('hilite' if @sort_column == 'release_date')}
        = link_to "Release Date", movies_path(:ratings=>@all_ratings.select {|k,v| v == 1}, :sort=>"release_date"), {id: "release_date_header"}
      %th More Info 
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
